* {
  border: 1px red solid;
}

#container {
  height: 98vh;
  margin: 1vh;

  min-height: 100%;

  background-color: #fad5c0;
  /* background-color: white; */
  position: relative;
}

#drag-1, #drag-2 {
  position: absolute;
  /* width: 10em;
  height: 6.5em; */
  background-color: #f000ff;
  color: white;
  padding: 4%;
  touch-action: none;
  user-select: none;
  /* -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px); */
  box-sizing: border-box;
}
